/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap'); */

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}

header,
main {
    padding: 0px 240px 30px;
}

p {
    line-height: 25px;
    font-weight: 100;
    color: rgb(125, 125, 127);
}

header {
    background-color: #f5e1cb;
}

.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: 53px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    display: flex;
    list-style-type: none;
}

.nav-link li {
    margin-left: 80px;
}

.nav-link a {
    text-decoration: none;
    color: rgb(92, 86, 86);
    font-weight: 600;
}

.baner-discription {
    text-align: center;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.baner-title {
    font-size: 4vw;
}

.baner-discription p {
    line-height: 26px;
}

.btn-primary {
    background-color: #ff900d;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 15px 20px;
}

.baner-img img {
    width: 100%;
    margin-top: 40px;
}

/* ---------------------------------------------------------------- */
.features-section {
    display: flex;
    margin: 60px;
    align-items: center;
}

.features-img {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.features-dis {
    margin-left: 90px;
}

.text-light {
    font-weight: 500;
    color: rgb(125, 125, 127);

}

.text-feature {
    color: #ff900d;
    font-weight: bolder;
}